* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--standard-black);
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 auto;
  }

  &__main-section {
    margin: 0 auto;
    padding-bottom: 60px;
  }

  &__underline {
    margin-bottom: 94px;

    &::after {
      border-bottom: 1px solid #ececec;
      content: "";
      display: block;
    }
  }
}

@media screen and (min-width: 1201px) {
  .container {
    max-width: 1200px;

    &__main-section {
      width: 100%;
      padding-bottom: 94px;
    }
  }
}

// WERSJA 28.03. START
// @media screen and (min-width: 769px) {
//   .container {
//     max-width: 1200px;

//     &__main-section {
//       width: 100%;
//       padding-bottom: 94px;
//     }
//   }
// }

// WERSJA 28.03. END

// @media screen and (min-width: 481px) and (max-width: 768px) {
//   .container {
//     width: 100%;

//     // &__main-section {
//     //   width: 480px;
//     // }
//   }
// }

// .container {
//   width: 1200px;
//   margin: 0 auto;

//   &__header {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   &__main-section {
//     padding-bottom: 94px;
//   }

//   &__underline {
//     margin-bottom: 94px;

//     &::after {
//       border-bottom: 1px solid #ececec;
//       content: "";
//       display: block;
//     }
//   }
// }

// @media screen and (max-width: 480px) {
//   .container {
//     width: 480px;
//     margin: 0 auto;

//     &__main-section {
//       width: 480px;
//       margin: 0 auto;
//       padding-bottom: 60px;
//     }
//   }
// }
