// FONTS START

$fontFamily: "Robot, sans-serif";

// FONTS END

// COLORS START

$StandardBlue: #2196f3;
$StandardWhite: #ffffff;
$LightGrey: #757575;
$BackgroundGrey: #f5f4fa;
$LightBlack: #2f303a;
$SuperLightGrey: #ececec;
$StandardBlack: #212121;
$PortfolioGrey: #eeeeee;
$LightGrey2: #afb1b8;

// --dark-black: #000000;
// --light-grey: #757575;
// --background-button-color: #f5f4fa;
// --background-black-color: #2f303a;

// COLORS END
